.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
	background-color: #072432;
	color: #fff;
	padding: 20px;
	width: 70%;
	margin: auto;
	margin-top:150px;
	border-radius: 5px;
}

.card h2 {
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.card form {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.card .inner_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card label {
	margin-top: 10px;
	font-weight: bold;
}

.card input,
.card select,
.card textarea {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin: 20px 20px 10px 0;
	background-color: #fff;
	color: #222;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.card input[type="submit"],
.card button {
	background-color: #00b894;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
}

.card a {
	color: #fff;
	text-decoration: underline;
}
