.wrapper{
    background-color: #0F2333;
    width: 600px;
    padding: 5px;
}
.headline{
    text-align: center;
    width: 100%;
    padding: 5px;
    color: rgb(38, 113, 6);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.wrapper p{
    background-color:rgba(215, 185, 13, 0.598);
    padding: 5px;
}