{%extends 'layout.html'%}
{%load static%}
{% load humanize %}
{%block title%}Delete Post | Personal Blog{%endblock title%}
{%block link%}
<!-- css link here -->
<link rel="stylesheet" href="{%static 'edit_post.css'%}"/>
{%endblock link%}
{%block navImg%}
    {%if profile.profilePic%}
        <img src="{{profile.profilePic.url}}" alt="Profile Pic" width="30">
    {%endif%}
{%endblock navImg%}
{%block section%}
<div class="wrapper">
    <div class="warning">
        <h4>Edit Post</h4>
    </div>
    <div class="edit_setion">
        <form method="POST">
            {%csrf_token%}
            <textarea id="editField" name="editField" style="width: 100%; min-height: 100px;">{{post.post}}</textarea>
            <div class="button_group">
                <a class="btn-red" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                <input class="btn" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>
{%endblock section%}