<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<title>
        {%block title%}{%endblock title%}
    </title>
    {%block link%}{%endblock link%}
    <link rel="stylesheet" href="{%static 'layout.css'%}"/>
    
</head>
<body>
	<nav>
		<div class="left-nav">
			<a href="{%url 'home'%}">Personal blog</a>
		</div>
		{%if request.user.is_authenticated%}
        <div class="right-nav">
			<div class="avatar">
				{%block navImg%}{%endblock navImg%}
			</div>
			<a class="name" href="{%url 'profile' request.user.username%}">
				<h4>
					{{request.user.first_name}} {{request.user.last_name}}
				</h4>
			</a>
			<a href="{%url 'logout'%}" class="green-btn">Logout</a>
		</div>
        {%endif%}
	</nav>
	
	{%block section%}{%endblock section%}
</body>
</html>
