{%extends 'layout.html'%}
{%load static%}
{% load humanize %}
{%block title%}Profile | Personal Blog{%endblock title%}
{%block link%} 
<link rel="stylesheet" href="{%static 'profile_page.css'%}"/>
{%endblock link%}
{%block navImg%}
    {%if current_user_profile.profilePic%}
        <img src="{{current_user_profile.profilePic.url}}" alt="Profile Pic" width="30">
    {%endif%}
{%endblock navImg%}
{%block section%}
<div class="wrapper">
    <div class="profile_section">
        <div class="profile_pic">
            {%if user_profile.profilePic%}
                <img src="{{user_profile.profilePic.url}}" alt="Profile Pic">
            {%endif%}
        </div>
        <h2>{{user_profile.user.first_name}} {{user_profile.user.last_name}}</h2>
        <div class="bio_box">{{user_profile.bio}}</div>
        <div class="about">
            <h4>Work as <span>{{user_profile.profession}}</span> at <span>{{user_profile.workplace}}</span></h4>
            <h4>{{user_profile.relationStatus}}</h4>
            <h4>From {{user_profile.area}}</h4>
        </div>
        
    </div>
    <div class="post_section">
        {%for each in user_posts%}
        <div class="post">
            <div class="post_view">
                <h3>{{each.user.first_name}} {{each.user.last_name}}</h3>
                <div class="date_time">
                    <p>
                        {{each.created| timesince}} ago
                    </p>
                    <p>
                        {{each.created.date}}
                    </p>
                </div>
                <div class="post_body">
                    <p>{{each.post}}</p>
                </div>
                <hr>
                <div class="button_group">
                    <a class="comment_button" href="{%url 'comment' each.id%}">Add Comment</a>
                </div>
                <div class="comment_section">
                    {%for each_comment in post_comment%}
                        {%if each.id == each_comment.postId%}
                            <div class="each_comment">
                                <p class="commenter_name"> @{{each_comment.commenter.first_name}} {{each_comment.commenter.last_name}}</p>
                                <p class="comment">{{each_comment.comment}}</p>
                            </div>   
                        {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock section%}